<div class="container">
  <profile-component [profileInfo]="profileInfo"></profile-component>
  <tabset *ngIf="profileData" [justified]="true">
    <tab [heading]="TAG_PROFILE">
      <h3>Birth</h3>
      <p>{{profileData.birth}}({{profileData.age}}歳)</p>
      <br/>
      <h3>Biography</h3>
      <br/>
      <p *ngFor="let item of profileData.biographyList">
        {{item}}
      </p>
      <h3>Skills</h3>
      <ul>
        <li>Java/Spring framework</li>
        <li>GoLang</li>
        <li>Javascript/Typescript</li>
        <li>React.js/Angular.js</li>
        <li>Oracle/MySql</li>
        <li>Git/SVN</li>
      </ul>
    </tab>
    <tab [heading]="TAG_WORKS">
      Short Labeled Justified content
    </tab>
    <tab [heading]="TAG_CONTACT">
      Long Labeled Justified content
    </tab>
    <tab [heading]="TAG_SOCIALS">
      Long Labeled Justified content
    </tab>
  </tabset>
</div>
