<div class="container">
  <profile-component [profileInfo]="profileInfo"></profile-component>
  <tabset *ngIf="profileData" [justified]="true">
    <tab [heading]="TAG_PROFILE">
      <h3>Birth</h3>
      <p>{{ profileData.birth }}({{ profileData.age }}歳)</p>
      <br />
      <h3>Biography</h3>
      <br />
      <p *ngFor="let item of profileData.biographyList">
        {{ item }}
      </p>
      <h3>Skills</h3>
      <ul>
        <li>Java/Spring framework</li>
        <li>GoLang</li>
        <li>Javascript/Typescript</li>
        <li>React.js/Angular.js</li>
        <li>Oracle/MySql</li>
        <li>Git/SVN</li>
      </ul>
    </tab>
    <tab [heading]="TAG_WORKS">
      <!-- TODO: 어떻게 넣어야 할지 -->
    </tab>
    <tab [heading]="TAG_CONTACT">
      <h3>Email</h3>
      <p>{{ profileData.email }}</p>
      <h3>Instagram</h3>
      <p>{{ profileData.instagram }}</p>
      <h3>Facebook</h3>
      <p>{{ profileData.facebook }}</p>
      <h3>Blog</h3>
      <p>{{ profileData.blog }}</p>
    </tab>
    <!-- <tab [heading]="TAG_SOCIALS">
      Long Labeled Justified content
    </tab> -->
  </tabset>
</div>
